<% include ./partials/header %>

<div class="row">
  <div class="col-md-12">
    <form class="form-signin" action="/login" method="POST">
      <h1 class="text-center">Please Sign In</h1>
      <label for="username">Username</label>
      <input class="form-control" id="username" type="text" name="username" placeholder="username" autofocus />
      <input class="form-control" id="password" type="password" name="password" placeholder="password" />
      <label for="password">Password</label>
      <button class="btn btn-lg btn-primary btn-block mb-3">Login</button>
      <span>Forgot your password? <a href="/forgot">Reset password</a></span>
      <hr />
      <span>New to YelpCamp? <a href="/register">Sign up now!</a></span>
      <hr />
      <a href="/campgrounds">Go Back</a>
    </form>
  </div>
</div>

<% include ./partials/footer %>