<% include ./partials/header %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h1>Reset Password?</h1>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <form class="form-signin" action="/password_reset" method="POST">
      <div class="form-group">
        <label for="email">Email <span class="form-required">*</span></label>
        <input class="form-control" id="email" type="email" name="email" autofocus required>
      </div>
      <p><small>You will receive a confirmation email after sending the request. Please check the email for further instructions.</small></p>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Continue</button>
      </div>
      <hr />
      <a href="/login">Go Back</a>
    </form>
  </div>
</div>
<% include ./partials/footer %>