<% include ./partials/header %>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Sign Up</h1>
    <form class="form-signin" action="/register" method="POST">
      <label for="username">Username <span class="form-required">*</span></label>
      <input class="form-control" id="username" type ="text" name="username" placeholder="username" autofocus/>
      <label for="password">Password <span class="form-required">*</span></label>
      <input class="form-control" id="password" type="password" name="password" placeholder="password" />
      <label for="firstName">First Name</label>
      <input class="form-control" id="firstName" type ="text" name="firstName" placeholder="first name" />
      <label for="lastName">Last Name</label>
      <input class="form-control" id="lastName" type ="text" name="lastName" placeholder="last name" />
      <label for="email">Email <span class="form-required">*</span></label>
      <input class="form-control" id="email" type ="email" name="email" placeholder="joe@email.com" />
      <label for="avatar">Profile Photo</label>
      <input class="form-control" id="avatar" type="text" name="avatar" placeholder="avatar url" autocomplete="off" />
      <button class="btn btn-lg btn-primary btn-block mt-3">Sign Up!</button>
      <hr />
      <a href="/campgrounds">Go Back</a>
    </form>
  </div>
</div>

<% include ./partials/footer %>